/* index page CSS */
.index_background{
     background-color: #add1b3;
     border-radius: 25px;
     padding: 80px;
     display: flex;
     justify-content: center;
     align-content: center;
     margin-top: 20px;
     margin-left: 15px;
     margin-right: 15px;
 }
.welcome_background{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-content: center;
}

/*flex 50%: https://www.w3schools.com/cssref/css3_pr_flex.php*/
.image_background{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    background-color: #bedcef;
    text-align: center;
    border-radius: 25px 0 0 25px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    box-shadow: 0 3px 3px #A5C2AB;
}

.form_background{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf4da;
    text-align: center;
    max-width: 40%;
    border-radius: 0 25px 25px 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    box-shadow: 3px 3px 3px #A5C2AB;
}

.sign_in_image{
    max-width: 90%;
    padding: 15px;
    max-height: 90%;
}

.sign_in_form{
    max-width: 90%;
    padding: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* how to change placeholder's style: https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder*/
.form-control::placeholder{
    color: #ababab;
}
.form-group{
    padding: 5px;
}

#label_username{
    color: 	#ec625b;
    font-size: 19px;
}

#label_password{
    color: #4896c7;
    font-size: 19px;
}

.sign_in_text{
    color: #a979c2;
    font-size: 40px;
    text-shadow: 3px 1px 2px #e1dabf;
    text-decoration: underline;
}

.line{
    width: 95%;
    background-color: #fcf7e3;
    height: 3px;
    margin: 10px auto;
}

/*for buttons : https://www.w3schools.com/css/css3_buttons.asp*/
#sign_in_button{
    transition-duration: 0.1s;
    border-radius: 7px;
    background-color: #a979c2;
    margin: 15px;
    border: 2px solid #a979c2;
    letter-spacing: 0.5px;
    font-size: 19px;
    box-shadow: 3px 3px 3px #e1dabf;
    font-weight: 700;
    transition: 0.3s;
}

#sign_in_button:hover{
    border-radius: 20px;
    background-color: #fbf3d5;
    color: #a979c2;
    border: 2px solid #a979c2;
    transition: 0.3s;
    padding-right: 12px;
    padding-left: 12px;
}

#form_alert{
    color: #3c3c3c;
}

.flower1_image{
    position: absolute;
    left: 0;
    max-width: 70px;
    margin-bottom: 250px;
    margin-left: -35px;
}

.flower2_image{
    position: absolute;
    right: 0;
    margin-top: 250px;
    max-width: 70px;
    margin-right: -35px;
}

#welcome_footer{
    background: #f9faf9;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#owl_icon {
    width: 65px;
    height: 43px;
    display: block;
    margin: auto;
}

#sign_up_button{
    margin-top: 15px;
    background-color: #3e7f6b;
    color: #ffffff;
    box-shadow: 3px 3px 3px #eeeeee;
    font-size: 19px;
    transition: 0.3s;
    border-radius: 7px;
    border: 2px solid #3e7f6b;
    font-weight: 700;
}

#sign_up_button:hover{
    background-color: #fcf7e3;
    color: #3e7f6b;
    border: 2px solid #3e7f6b;
    transition: 0.3s;
    border-radius: 20px;
    margin-left: 1px:
    padding-left: 12px;
    padding-right: 12px;
}

#sign_up_text{
    margin-top: 15px;
    font-size: 20px;
    color: #6F4E37;
    font-size: 19px;
    text-shadow: 1px 1px 1px #eeeeee;
}

#social_media_icons{
    margin-top: 15px;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    outline: none;
}

.social_media_icon_style{
    width: 39px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #eeeeee;
    border-color: #eeeeee;
}

.social_media_icon_style:hover{
    border-color: #eeeeee;
}
/* responsive design for different screen sizes */
@media only screen and (max-width: 810px ) {
    .index_background {
        padding: 35px;
        margin: 15px;
    }

    .welcome_background {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .image_background {
        flex-basis: 85%;
        width:95%;
        box-sizing: border-box;
        border-radius: 25px 25px 0 0;
        box-shadow: 3px 0 3px #A5C2AB;
        max-width: 85%;
    }

    .form_background {
        flex-basis: 85%;
        width:95%;
        box-sizing: border-box;
        border-radius: 0 0 25px 25px;
        max-width: 85%;
    }

    .flower1_image{
        max-width: 50px;
        margin-bottom: 85px;
        margin-left: -25px;
    }

    .flower2_image{
        margin-top: 85px;
        max-width: 50px;
        margin-right: -25px;
    }
}

@media only screen and (max-height: 510px) {
    .index_background {
        padding: 35px;
        margin: 15px;
    }

    .welcome_background {
        min-height: 400px;
    }

    .flower1_image{
        max-width: 50px;
        margin-bottom: 85px;
        margin-left: -25px;
    }

    .flower2_image{
        margin-top: 85px;
        max-width: 50px;
        margin-right: -25px;
    }
}
/* index page CSS end */